h1 {
  color: #ff0000;
font-size: 48px;

}
Body {
  color: #0000ff;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #790134;

}
